<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Applause - HTML presentations powered by AngularJS</title>
    <meta name="description" content="HTML presentations powered by Angular JS">
    <meta name="viewport" content="width=device-width">
    <!-- build:css assets/styles/applause.css -->
    <link rel="stylesheet" href="assets/styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="assets/theme/default.css">
    <!-- Chrome print bug. Credits to @hakimel http://goo.gl/rGoUvj -->
    <script>
      if( window.location.search.match(/pdf/gi) ) {
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'assets/styles/pdf.css';
        document.getElementsByTagName('head')[0].appendChild(link);
      }
    </script>
  </head>
  <body ng-app="applauseApp" ng-keyup="keyup($event)">

    <div id="presentation" ng-controller="DeckCtrl" ng-cloak>

      <goto class="ph"></goto>

      <div class="container">

        <!-- =========== SLIDE =========== -->

        <slide>
          <h1>From jQuery to Angular</h1>
          <h2>MilanoJS - The Good Party<br><small>05 May 2015</small></h2>
          <table>
            <tbody>
              <tr>
                <td width="50%">
                  <img class="media center" src="assets/theme/images/profile.jpg" style="width:70%"">
                </td>
                <td width="50%">
                  <ul>
                    <li>Mauro Verrocchio</li>
                    <li>Senior Frontend Engineer @ <a href="http://www.gild.com/">Gild</a></li>
                    <li>Twitter: <a href="https://twitter.com/maur8ino">@maur8ino</a></li>
                    <li>Github: <a href="https://github.com/maur8ino">@maur8ino</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </slide>

        <slide>
          <h2>From jQuery to Angular</h2>
          <h4>MilanoJS talk #2 - 01 Jul 2014</h4>
          <img class="media center" src="assets/theme/images/10410793_487323884744770_1457756570299888723_n.jpg" style="width:90%">
        </slide>

        <slide>
          <h2>jQuery.masterblaster</h2>
          <img class="abs-center" src="assets/theme/images/masterblaster.gif">
        </slide>

        <slide>
          <h2>jQuery.masterblaster <small>(init code)</small></h2>

          <code prism class="language-javascript">var $mb = $( ".masterblaster-1" );
 $mb.masterblaster({
   tagRules: {
     unique: true,
     minLength: 3
   }
 });
 $mb.masterblaster( "push", "tag 1" );
 $mb.masterblaster( "push", "tag 2" );
 $mb.on( "mb:add", function( e, tagName ) {
   console.info( "Added: " + tagName );
 });
 $mb.on( "mb:remove", function( e, tagName ) {
   console.info( "Removed: " + tagName );
 });
</code>
        </slide>

        <slide>
          <h2>jQuery.masterblaster <small>(source code)</small></h2>

          <code prism class="language-javascript">[...]
 function MasterBlaster( $element, options ) {
     [...]
     this.tag = [ '&ltli style="opacity:1" data-tag="" class="mb-tag"&gt;',
                  '&lt;div class="mb-tag-content"&gt;',
                  '&lt;span class="mb-tag-text"&gt;&lt;/span&gt;',
                  '&lt;a class="mb-tag-remove"&gt;&lt;/a&gt;',
                  '&lt;/div&gt;&lt;/li&gt;' ].join( "" );
 }
 MasterBlaster.prototype.buildTag = function( tagName ) {
     var $tag = $( this.tag );
     [...]
     return $tag;
 };
 [...]
</code>
        </slide>

        <slide>
          <h2>jQuery.masterblaster <small>(source code)</small></h2>

          <code prism class="language-javascript">[...]
 MasterBlaster.prototype.addElem = function( $tag ) {
     [...]
     $tag.insertBefore( this.$meta );
 };
 MasterBlaster.prototype.removeElem = function( tagName ) {
     var $tag = this.$tagList.find( "[data-tag='"+tagName+"']" );
     [...]
     $tag.remove( );
 };
 [...]
          </code>
        </slide>
        <slide>
          <div class="abs-center">
            <h2>jQuery plugins <small>(mainly)</small></h2>
            <h1>-></h1>
            <h2>Imperative DOM manipulation</h2>
          </div>
        </slide>

        <slide>
          <h2>Angular declarative way</h2>
          <h2 class="abs-center">Change <code class="inline">$scope</code> and let Angular manipulate DOM</h2>
        </slide>

        <slide>
          <h2>Angular <code>directive</code></h2>
          <code prism class="language-markup">&lt;form ng-submit="addTag()"&gt;
  &lt;input type="text" ng-model="newTag"&gt;
  &lt;button class="btn btn-primary" ng-repeat="tag in tagList track by $index"
          type="button"&gt;
      {{"{{tag}\}"}}
      &lt;span ng-click="removeTag($index)"
            class="glyphicon glyphicon-remove"&gt;&lt;/span&gt;
  &lt;/button&gt;
  &lt;button class="btn btn-default" type="submit"&gt;add tag&lt;/button&gt;
&lt;/form&gt;</code>
          <code prism class="language-javascript">
$scope.tagList = ['tag1', 'tag2', 'tag3'];
$scope.addTag = function() {
  $scope.tagList.push($scope.newTag);
};
$scope.removeTag= function($index) {
  $scope.tagList.splice($index, 1);
};</code>
</slide>

        <slide>
          <h2>Angular <code>$watch</code> and <code>$digest</code></h2>
          <h3><code>$watch</code> list</h3>
          <code prism class="language-javascript">
$scope.tagList = ['tag1', 'tag2', 'tag3'];
          </code>
          <h3>watchers</h3>
          <code prism class="language-markup">
&lt;button ng-repeat="tag in tagList track by $index"&gt;
  {{"{{tag}\}"}}
  &lt;span ng-click="removeTag($index)"&gt;
&lt;/button&gt
          </code>
          <h3>every change in the <code>angular context</code> kicks a <code>$digest</code> loop</h3>
        </slide>

        <slide>
          <h2><code>directive</code> isolated scope</h2>
          <code prism class="language-javascript">angular.module('mjsTalkApp', [])
  .directive('mjsTagger', function () {
    return {
[...]
      scope: {
        unique : '@unique',
        tagList : '=tags'
      }
[...]
     };
  });
          </code>
          <code prism class="language-markup">&lt;x-mjs-tagger unique="true" tags="tags"&gt;&lt;/x-mjs-tagger&gt;
</code>
          <h3>parent <code>$scope</code></h3>
          <code prism class="language-javascript">$scope.tags = ['javascript', 'awesome'];
</code>
        </slide>

        <slide>
          <h2>Angular testing</h2>
          <code prism class="language-javascript">var element,
    $scope,
    directiveScope;
function compileDirective(html) {
  inject(function ($compile) {
    element = angular.element(html);
    $compile(element)($scope);
    directiveScope = element.isolateScope();
  });
}
it('should add a tag', function() {
  $scope.tags = ['a', 'b'];
  compileDirective('<x-mjs-tagger tags="tags"></x-mjs-tagger>');
  directiveScope.newTag = 'c';
  directiveScope.addTag();
  expect(directiveScope.tagList.length).toBe(3);
  expect(directiveScope.tagList).toEqual(['a', 'b', 'c']);
});
</code>
        </slide>

        <slide>
          <h2>That's all!</h2>
          <div class="abs-center">
            <h3>source code:<br><a href="https://github.com/milano-js/from-jquery-to-angular/" style="color: rgb(0, 0, 238)">https://github.com/milano-js/from-jquery-to-angular/</a></h3>
            <h3><code>$watch</code> and <code>$digest</code> reference:<br><a href="http://angular-tips.com/blog/2013/08/watch-how-the-apply-runs-a-digest/" style="color: rgb(0, 0, 238)">http://angular-tips.com/blog/2013/08/watch-how-the-apply-runs-a-digest/</a></h3>
          </div>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <h3>Thanks for listening!</h3>
        </slide>

        <!-- =========== /SLIDE =========== -->

      </div>

      <flip-clock></flip-clock>

      <div id="slide-count" ng-show="{{isSlideCountVisible}}">{{$storage.currentSlide}}/{{lastSlide}}</div>

      <progress-bar class="ph" ng-show="{{isProgressBarVisible}}"></progress-bar>

    </div>

    <!-- build:js assets/scripts/applause.js -->
    <script src="assets/scripts/vendor/prism.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/showdown/src/showdown.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="assets/scripts/app.js"></script>
    <script src="config.js"></script>
    <script src="assets/scripts/controllers/deck.js"></script>
    <script src="assets/scripts/directives/slide.js"></script>
    <script src="assets/scripts/directives/fit.js"></script>
    <script src="assets/scripts/directives/progressbar.js"></script>
    <script src="assets/scripts/services/appdata.js"></script>
    <script src="assets/scripts/directives/markdown.js"></script>
    <script src="assets/scripts/directives/bg-img.js"></script>
    <script src="assets/scripts/directives/goto.js"></script>
    <script src="assets/scripts/directives/flip-clock.js"></script>
    <script src="assets/scripts/directives/prism.js"></script>
    <script src="assets/scripts/directives/note.js"></script>
    <!-- endbuild -->
  </body>
</html>
